<footer>
    <br><br>
    <div class="footer" id="#somos">
        <div class="container">
            <div class="row">

                <hr class="hidden-lg" >
                <div class="col-md-4 d-flex flex-column footer-item">
                    <h4><font color="#764dc1">¿NECESITAS AYUDA?</font></h4>
                    <a>123 123 837</a>
                     <a>Aviso legal</a>
                    <a href="mail"> <font color="#764dc1">mail@mirandatravels.com</font></a>
                    <a><small>un-Vie 9:30-19:00 <br> Sab 10:00-14:00</small></a>
                </div>
                <div class="col-md-4 d-flex flex-column footer-item" >
                    <h4><font color="#764dc1">INFORMACIÓN</font></h4>
                    <a>Quienes somos</a>
                    <a>Preguntas frecuentes</a>
                    <a>Politica de privacidad</a>
                    <a>Condiciones generales</a>
                   
                    <a>Contacto</a>
                   
                </div>
                <div class="col-md-4 d-flex  flex-column footer-item">
                    <h4><font color="#764dc1">SUSCRIBETE A LA NEWSLETTER</font>
                    </h4>
                    <div class="form-group pt1em" id="#somos">
                        <input class="form-control" type="email" class="form-control" id="inputEmailSus" placeholder="Correo electrónico">
                        <br>
                        <button type="submit" class="btn btn-custom btn-contact">Suscribirse</button>
                    </div>
                </div>
            </div>
            <hr class="linea">
 
            <div class="copyright">
                <div class="col-md-12">
                    <a class="textpeq">Miranda Travels &copy; 2018</a>
                </div>
            </div>
        </div>
    </div>
</footer>