<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>

  <link rel='stylesheet' href='components/bootstrap/dist/css/bootstrap.min.css'>
  <link rel='stylesheet' href='dist/stylesheets/main.min.css' />
  <script src='components/bootstrap/dist/js/bootstrap.min.js'></script>
  <script scr='dist/javascripts/app.js'></script>
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon copy.png">

</head>

<body>

  {{{body}}} 
 


</body>

</html>











