<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='../public/components/bootstrap/dist/css/bootstrap.min.css'>
  <link rel='stylesheet' href='../public/stylesheets/style.css'/>
  <title>{{title}}</title>
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon copy.png">

</head>

<body>
  {{> navbar}} 
  {{{body}}} 
  {{> partial2}}

<script src="../public/components/jquery/dist/jquery.min.js" type="text/javascripts"></script>
<script src="../public/javascripts/app.js"></script>
<script src="../public//components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>











