<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    <link rel='stylesheet' href='../public/components/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/proyecto_viaje/public/stylesheets/login.css'  />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon copy.png"/>

  </head>

  <body>

    {{{body}}}

    <script type="text/javascript" src="../public/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../public/components/bootstrap/dist/js/bootstrap.min.js"></script>


  </body>

</html>